@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.4rem;
    color: #6B6B6B;
    background: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    min-height: 182px;
}

.slider {
    width: 100%;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider .slider-image{
    width: 100%;
}

.slider .slider-image-mob {
    display: none;
}

/* #image-mobile {
    display:none;
} */


.slider .slider-title {
    position: absolute; 
    left: 0; 
    right: 0; 
    max-width: 1170px;
    padding: 31px;
    margin-bottom: 50px;
}

.slider h1 {
    font-size: 2.4rem;
    font-weight: bold;
    background: rgba(218, 68, 83, 0.7);
    color: #fff;
    padding: 12px 20px;
    display: inline-table;
    margin: 0;
}

 .slider .slider-title .subtitle{
    background: rgba(59, 59, 59, 0.8);
    color: #DDDDDD;
    padding: 12px 20px;
    max-width: 600px;
} 

.content {
    max-width: 1170px;
    margin: auto;
    padding: 16px;
  
}

.articles {
    flex-grow: 1; /*клонка может растягиваться*/
    padding: 0 15px;
    max-width: 750px;
}

.articles-container {
    display: flex;
}

.article-item img {
    max-width: 100%;
    transition: opacity linear 0.3s;
}

.article-item img:hover {
    opacity: 0.8;
}

.article-item .article-content {
    background: #fff;
    border: 1px solid #DADADA;
    padding: 45px 50px;
    margin-bottom: 50px;
}

.article-item .article-content h1{
    margin: 0 0 30px 0;
}

.article-item .article-content h1 a{
    text-decoration: none;
    color: #444444;
    transition: color linear 0.3s;
    font-size: 2.8rem;
    font-family: 'Roboto Slab', serif;
}

.article-item .article-content h1 a:hover{
    color: #DA4453;
}

.article-item .article-content .article-info {
    margin-bottom: 30px;
}

.article-item .article-content .article-info > span {
    margin-right: 10px;
}

.article-item .article-content .article-info > span:last-child {
    margin-right: 0;
}

.article-item .article-content .article-info a {
    text-decoration: none;
    color: #6b6b6b;
    font-size: 1.3rem;
    margin-left: 4px;
}

.article-item .article-content .readmore {
    background: #DA4453;
    color: #fff;
    font-size: 1.3rem;
    padding: 11px 13px;
    border-radius: 4px;
    text-decoration: none;
    transition: background linear 0.3s;
    border: 1px solid transparent;
    display: inline-block;
    /* float: right; */
}

.article-item .article-content .readmore:hover {
    background: #000;
    border-color: #000;
}

.article-item .article-content .actions {
    text-align: right;
}

.main-header {
    position: fixed;
    right: 0;
    left: 0;
    background: #363636;
    height: 75px;
    top: 0;
    z-index: 100;
}

.main-header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-header .content .mobile-menu {
    display: none;
}


.main-header .content .company-name a{
    text-decoration: none;
    color: #DADADA;
    font-size: 2rem;
    font-weight: bold;
    margin: auto 0;
}

.main-header .content .menu ul{
    display: flex;
    flex-direction: row;
}

.main-header .content .menu ul li{
    list-style-type: none;
    margin: 0 10px;
}

.main-header .content .menu ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin: auto 0;
    transition: color linear 0.3s;
    text-transform: uppercase;
}

.main-header .content .menu ul a:hover{
    color: #DA4453;
}

.sidebar {
    width: 390px;
    padding: 0 15px;
    display: table;
}

.sidebar .sidebar-container {
    padding: 30px;
    border: 1px solid #DADADA;
    border-radius: 4px;
    background: #fff;
}

.sidebar .sidebar-item {
    margin-bottom: 50px;
}

.sidebar .sidebar-item .sidebar-header {
    font-size: 1.4rem;
    font-weight: bold;
    color: #636467;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.sidebar .sidebar-item .sidebar-header:first-child {
    margin-top: 14px;
}

.sidebar .sidebar-item .sosial-icons a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    background: #C1C0C0;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    transition: background linear 0.3s;
}

.sidebar .sidebar-item .sosial-icons a:first-child:hover{
    background: #55ACEE;
}
.sidebar .sidebar-item .sosial-icons a:nth-child(2):hover{
    background: #4265b9;
}
.sidebar .sidebar-item .sosial-icons a:nth-child(3):hover{
    background: #df3333;
}
.sidebar .sidebar-item .sosial-icons a:nth-child(4):hover{
    background: #d62408;
}
.sidebar .sidebar-item .sosial-icons a:nth-child(5):hover{
    background: #5B8BB4;
}

.sidebar .sidebar-item .comments-info div {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.sidebar .sidebar-item .comments-info a{
    text-decoration: none;
    color: #C1C0C0;
    font-size: 1.4rem;
     display: block; 
}

.sidebar .sidebar-item .tags-info a {
    text-decoration: none;
    background: #DADADA;
    color: #fff;
    margin-bottom: 4px;
    padding: 6px 7px;
    border-radius: 3px;
    font-size: 1.2rem;
     display: inline-block;
     transition: background linear 0.3s;
}

.sidebar .sidebar-item .tags-info a:hover {
    background: #DA4453;
}

.main-footer {
    width: 100%;
    background: #1F1F1F;
    padding: 10px 0;
}

.main-footer .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-footer .content .copyright p{
    color: #999;
    font-size: 1.2rem;
    margin: auto 0;
}

.main-footer .content .copyright p span {
    color: #DADADA;
}

.main-footer .content .menu ul{
    display: flex;
    flex-direction: row;
}

.main-footer .content .menu ul li{
    list-style-type: none;
    margin: 0 10px;
}

.main-footer .content .menu ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin: auto 0;
    transition: color linear 0.3s;
    padding: 10px 15px;
    text-transform: uppercase;
}

.main-footer .content .menu ul a:hover{
    color: #fff;
}

@media screen and (max-width: 1030px) {
    .copyright {
        width: 164px;
    }
}

@media screen and (max-width: 985px) {
    .sidebar {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {

    .articles-container {
        width: 100%;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .main-footer .content {
        flex-direction: column;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }

    .main-footer ul {
        padding: 0;
    }

    .slider .slider-title {
        top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .main-footer .content .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .main-header .content .menu {
        display: none;
    }

    .main-header .content .mobile-menu {
        display: block;
        font-size: 2.5rem;
        color: #FFFFFF;
        margin: auto 0;
        transition: color linear 0.3s;
    }

    .main-header .content .mobile-menu:hover{
        color: #DA4453;
    }

    .slider .slider-image{
        display: none;
    }
    
    .slider .slider-image-mob {
        display: block;
        width: 100%;
    }

    .slider .slider-title {
        top: unset;
    }
}

@media screen and (max-width: 500px) {
    .slider .slider-title {
    top: 50px;
    }
}