* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    margin: 0 auto;
    max-width: 95%;
}

div {
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    margin: 10px auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.columns-container .column {
    float: left;
    width: 100%;
    padding: 10px;
}

.columns-container:nth-child(2) .column {
    float: left;
    width: calc(100% / 3);
    padding: 10px;
}
